
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	
  	<servlet-class>com.example.mysensor.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Upload</servlet-name>
  	
  	<servlet-class>com.example.mysensor.Upload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	
  	<servlet-class>com.example.mysensor.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	
  	<servlet-class>com.example.mysensor.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Image</servlet-name>
  	
  	
  	<servlet-class>com.example.mysensor.Image</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Upload</servlet-name>
  	<url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Image</servlet-name>
  	<url-pattern>/Image</url-pattern>
  </servlet-mapping>
</web-app>
